@import "./variables";

#apps-row {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20%;

  .container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding: 1rem;
      transition: .5s;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: 600;
/*      background-color: rgba(46, 20, 86, 0.71);
      box-shadow: $middle-purple 0px 2px 16px 0px, $cyan 0px 2px 4px 0px;*/
    }


    img {
      max-width: 72%;
      max-height: 72%;
      margin-left: 14%;
    }

  }

}