#lock-logo {
  display: inline-block;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-color: $dark-purple-transparent;
  color: whitesmoke;
  box-shadow: $light-box-shadow;
  text-shadow: $cyan-text-shadow;
  transition: .4s;

  &:hover{
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    box-shadow: $dark-box-shadow-reverse;
    cursor: pointer;
  }

}


#set-pwd {
  margin-top: 1rem;
  width: fit-content;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1.25rem;
  border: none;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}