// DARK THEME VARIABLES
$dt-dark-purple: #190A2FE0;
$dt-pink: #990fe0;
$dt-cyan: #10EBFFFF;
$dt-cyan-pastel: #ADFFFCE0;

$dt-box-shadow: $dt-cyan 0px 2px 4px 0px, $dt-pink 0px 2px 16px 0px;



$lt: #000;
$dt: #fff;
