header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem 0.75rem 0.55rem 0.75rem; }
  header #div-theme {
    margin-right: auto; }
  header #calendar {
    display: flex; }
    header #calendar div {
      margin-right: 0.25rem; }
  header #clock {
    display: flex; }
    header #clock div {
      margin-right: 0.25rem; }
  header #clock2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
header #clock2 div {
      margin-right: 0.25rem; }
  header #battery-container {
    display: flex;
    align-items: center; }
    header #battery-container #battery {
      width: 2rem;
      height: 0.75rem;
      border-radius: 5px;
      position: relative;
      border-style: double;
      border-width: 2px; }
      header #battery-container #battery #power {
        /*width: 26%;*/
        height: 100%;
        background-color: green;
        position: absolute;
        border-radius: 2px; }
      header #battery-container #battery #pole {
        width: 0.25rem;
        height: 0.5rem;
        background-color: black;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }

#apps-row {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20%; }
  .apps-row .container {
    width: 30%;
    margin-left: auto;
    margin-right: auto; }
    #apps-row .container a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding: 1rem;
      transition: .5s;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: 600;
      /*      background-color: rgba(46, 20, 86, 0.71);
      box-shadow: $middle-purple 0px 2px 16px 0px, $cyan 0px 2px 4px 0px;*/ }
    #apps-row .container img {
      max-width: 72%;
      max-height: 72%;
      margin-left: 14%; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0; }
  .overlay:target {
    visibility: visible;
    opacity: 1; }

.popup {
  margin: 10% auto;
  width: 40%;
  border-radius: 5px;
  position: relative;
  padding-bottom: 2rem; }
  @media screen and (max-width: 550px) {
    .popup {
      margin: 16% auto;
      width: 90%; } }
  .popup .popup-header {
    padding: 1rem 2rem; }
    .popup .popup-header h2 {
      margin-top: 0; }
    .popup .popup-header #close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 1.25rem;
      font-weight: bold;
      text-decoration: none;
      color: #9D15D5FF; }
      .popup .popup-header #close:hover {
        color: #6B00D1; }
  .popup .content {
    overflow: auto;
    padding: 0 2rem 1rem 2rem;
    height: 350px;
    overflow-y: scroll; }
    .popup .content .switch {
      margin-right: 1.75rem; }
    .popup .content .category-setting {
      padding: 1.25rem 0; }
      .popup .content .category-setting h3 {
        margin-bottom: 0.75rem; }
      .popup .content .category-setting > div {
        width: 80%;
        margin-left: 4%; }
      .popup .content .category-setting #error {
        margin-top: 1rem; }
      .popup .content .category-setting #clock2 {
        display: flex; }
        .popup .content .category-setting #clock2 div {
          margin-right: 0.25rem; }

#calculator .output {
  padding: 0.75rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Digit", sans-serif;
  text-align: right;
  min-height: 2rem;
  border-radius: 4px;
  font-size: 1.75rem;
  overflow-wrap: break-word; }

#calculator .buttons > div:first-child button {
  width: 32.6%;
  transition: all .4s ease-in-out; }

#calculator .buttons > div:not(:first-child) button {
  width: 24.2%;
  transition: all .4s ease-in-out; }

#calculator .row-btn {
  margin-bottom: 1rem; }
  #calculator .row-btn button {
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    cursor: pointer; }

#set-pwd {
  margin-top: 1rem;
  width: fit-content;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1.25rem;
  border: none;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600; }

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem 0.75rem 0.55rem 0.75rem; }
  header #lock-container {
    margin-top: 6px; }
    header #lock-container #lock-logo {
      font-size: 12px;
      width: 26px;
      height: 26px;
      line-height: 25px;
      border-radius: 50%;
      text-align: center;
      background-color: #2E1456B5;
      color: whitesmoke;
      box-shadow: #681998 -1px 1px 4px 0px, #10EBFFFF 0px 0px 10px 0px;
      text-shadow: 0 0 5px #10EBFFFF;
      transition: .4s; }
      header #lock-container #lock-logo:hover {
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
        box-shadow: #681998 0px 2px 16px 0px, #10EBFFFF 0px 2px 4px 0px;
        cursor: pointer; }
  header #div-theme {
    margin-right: auto;
    margin-left: 16px;
    line-height: 27px; }
    header #div-theme:hover {
      cursor: pointer; }
  header #calendar {
    display: flex;
    margin-right: 0.50rem; }
    header #calendar div {
      margin-right: 0.25rem; }
  header #clock {
    display: flex; }
    header #clock div {
      margin-right: 0.25rem; }
  header #battery-container {
    display: flex;
    align-items: center;
    margin-top: 0.15rem;
    margin-right: 0.5rem; }
    header #battery-container #battery {
      width: 2rem;
      height: 0.75rem;
      border-radius: 5px;
      position: relative;
      border-style: double;
      border-width: 2px; }
      header #battery-container #battery #power {
        height: 100%;
        position: absolute;
        border-radius: 2px; }
    header #battery-container #pole {
      width: 0.25rem;
      height: 0.5rem;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      margin-right: 0.25rem; }

#input-group-pwd {
  display: flex;
  flex-direction: column; }
  #input-group-pwd input {
    background-color: transparent;
    margin-top: 1rem;
    padding-bottom: 0.25rem;
    border: none;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right, #B23BFF, #10EBFFFF);
    border-image-slice: 1; }
    #input-group-pwd input:focus, #input-group-pwd input:hover {
      outline: none;
      border-image-source: linear-gradient(to right, #10EBFFFF, #B23BFF);
      transition: border-image-source 0.5s ease-in-out; }
    #input-group-pwd input::placeholder {
      font-family: Montserrat Alternates, sans-serif; }

#lock-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #681998;
  background: radial-gradient(circle, #681998 0%, #14052b 90%);
  z-index: 100;
  color: #fff; }
  #lock-screen #lock-screen-content {
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    width: 40%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly; }
    @media screen and (max-width: 550px) {
      #lock-screen #lock-screen-content {
        width: 90%; } }
    #lock-screen #lock-screen-content #img-bg {
      border-radius: 50%;
      background: radial-gradient(circle, #ae00f5 0%, #23103f 100%); }
    #lock-screen #lock-screen-content img {
      width: 150px;
      padding: 2rem; }
      @media screen and (max-width: 550px) {
        #lock-screen #lock-screen-content img {
          width: 100px; } }
    #lock-screen #lock-screen-content h1 {
      font-weight: 400;
      text-shadow: 0 0 5px #000; }
    #lock-screen #lock-screen-content #lock-screen-password {
      width: 250px;
      text-align: center;
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 550px) {
        #lock-screen #lock-screen-content #lock-screen-password {
          width: 200px; } }
      #lock-screen #lock-screen-content #lock-screen-password input {
        padding: 0.5rem;
        border: none;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: 200;
        text-align: center;
        color: #FFFFFFA5;
        background: #FFFFFF19;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 5px #000;
        margin-bottom: 32px; }
        #lock-screen #lock-screen-content #lock-screen-password input::placeholder {
          color: #FFFFFFA5; }
        #lock-screen #lock-screen-content #lock-screen-password input:focus {
          outline: none;
          box-shadow: 0 0 5px #fff; }
      #lock-screen #lock-screen-content #lock-screen-password button {
        border: none;
        border-radius: 50%;
        background: #fff;
        color: #000;
        font-size: 0.75rem;
        padding: 0.25rem;
        box-shadow: 0 0 5px #000;
        width: 25px;
        height: 25px;
        margin-left: auto;
        margin-right: auto; }
        #lock-screen #lock-screen-content #lock-screen-password button:hover {
          cursor: pointer; }

.switch input {
  display: none; }

.switch {
  display: inline-block;
  width: 45px;
  height: 16px;
  margin: 4px;
  transform: translateY(43%);
  position: relative; }

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -1px;
  border-radius: 30px;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s; }

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: 0.2s; }

.switch-input:checked + .slider:before {
  transform: translateX(30px); }

.dt main {
  background-image: url("../assets/img/background.jpg"); }

.dt header {
  color: #fff; }
  .dt header #div-theme {
    color: #B23BFF; }
    .dt header #div-theme:hover {
      color: #10EBFFFF;
      transition: color 0.5s ease-in-out; }
  .dt header #pole {
    background-color: #fff; }

.dt .apps-row a {
  color: whitesmoke;
  text-shadow: 0 0 5px #10EBFFFF;
  background-color: #2E1456B5;
  box-shadow: #681998 0px 2px 16px 0px, #10EBFFFF 0px 2px 4px 0px; }
  .dt .apps-row a:hover {
    background-color: #190A2FE0;
    box-shadow: #10EBFFFF 0px 2px 4px 0px, #681998 0px 2px 16px 0px; }

.dt .overlay {
  background: #111634B2; }

.dt .popup {
  background-color: #190A2FE0;
  box-shadow: #10EBFFFF 0px 2px 4px 0px, #681998 0px 2px 16px 0px; }
  .dt .popup .popup-header {
    background-color: #190a2f;
    box-shadow: inset 0px -5px 5px -5px #10EBFFFF, inset 0px -10px 10px -10px #B23BFF;
    box-shadow-bottom: 0;
    box-shadow-left: 0;
    box-shadow-right: 0; }
    .dt .popup .popup-header h2 {
      color: #ADFFFCE0;
      text-shadow: 0 0 5px #10EBFFFF; }
  .dt .popup .category-setting h3, .dt .popup .category-setting > div {
    color: #ADFFFCE0;
    text-shadow: 0 0 5px #10EBFFFF; }
  .dt .popup .category-setting input {
    color: #10EBFFFF; }
    .dt .popup .category-setting input::placeholder {
      color: #DAEEF5E0; }
  .dt .popup .category-setting #set-pwd {
    background-color: #10EBFFFF;
    color: #190A2FE0; }
    .dt .popup .category-setting #set-pwd:hover {
      text-shadow: 0 0 3px #681998a1;
      transition: all .4s; }
  .dt .popup .category-setting:not(:last-child) {
    box-shadow: inset 0px -5px 5px -5px #10EBFFFF, inset 0px -10px 10px -10px #B23BFF;
    box-shadow-bottom: 0;
    box-shadow-left: 0;
    box-shadow-right: 0; }

.dt #calculator .output {
  background-color: #681998a1;
  color: #10EBFFFF;
  box-shadow: #681998 0px 2px 16px 0px, #10EBFFFF 0px 2px 4px 0px; }

.dt #calculator .buttons > div:first-child button {
  background-color: #681998a1;
  color: #10EBFFFF; }
  .dt #calculator .buttons > div:first-child button:hover {
    background-color: #ADFFFCE0;
    color: #681998; }

.dt #calculator .buttons > div:not(:first-child) button {
  background-color: #ADFFFCE0;
  color: #681998; }
  .dt #calculator .buttons > div:not(:first-child) button:hover {
    background-color: #681998a1;
    color: #10EBFFFF; }
  .dt #calculator .buttons > div:not(:first-child) button:last-child {
    background-color: #681998a1;
    color: #10EBFFFF; }
    .dt #calculator .buttons > div:not(:first-child) button:last-child:hover {
      background-color: #ADFFFCE0;
      color: #681998; }

.dt .slider {
  box-shadow: 0 0 3px 3px #681998; }
  .dt .slider:before {
    background-color: #681998; }

.dt .switch-input:checked + .slider:before {
  background-color: #10EBFFFF; }

.dt .switch-input:checked + .slider {
  box-shadow: 0 0 4px 3px #10EBFFFF, 0 0 4px #10EBFFFF; }

.lt main {
  background-image: url("../assets/img/bg-lt.png"); }

.lt header {
  color: #B23BFF; }
  .lt header #div-theme {
    color: #B23BFF; }
    .lt header #div-theme:hover {
      color: #2E1456B5;
      transition: color 0.5s ease-in-out; }
  .lt header #pole {
    background-color: #000; }

.lt .apps-row a {
  color: #190A2FE0;
  background-color: #DAEEF5E0;
  box-shadow: #681998 -1px 1px 4px 0px, #10EBFFFF 0px 0px 10px 0px;
  text-shadow: 0 0 3px #681998a1; }
  .lt .apps-row a:hover {
    background-color: #CEF1F3F4;
    box-shadow: #681998 0px 2px 16px 0px, #10EBFFFF 0px 2px 4px 0px;
    text-shadow: 0 0 2px #681998; }

.lt .overlay {
  background: rgba(229, 227, 255, 0.6); }

.lt .popup {
  background-color: #DAEEF5E0;
  box-shadow: #681998 -1px 1px 4px 0px, #10EBFFFF 0px 0px 10px 0px; }
  .lt .popup .popup-header {
    background-color: #CEF1F3F4;
    box-shadow: inset 0px -5px 5px -5px #B23BFF, inset 0px -10px 10px -10px #10EBFFFF;
    box-shadow-bottom: 0;
    box-shadow-left: 0;
    box-shadow-right: 0; }
    .lt .popup .popup-header h2 {
      color: #190A2FE0;
      text-shadow: 0 0 3px #681998a1; }
  .lt .popup .category-setting h3, .lt .popup .category-setting > div {
    color: #190A2FE0;
    text-shadow: 0 0 3px #681998a1; }
  .lt .popup .category-setting input {
    color: #681998; }
    .lt .popup .category-setting input::placeholder {
      color: #681998a1; }
  .lt .popup .category-setting #set-pwd {
    background-color: #190A2FE0;
    color: #10EBFFFF; }
    .lt .popup .category-setting #set-pwd:hover {
      text-shadow: 0 0 5px #10EBFFFF;
      transition: all .4s; }
  .lt .popup .category-setting:not(:last-child) {
    box-shadow: inset 0px -5px 5px -5px #B23BFF, inset 0px -10px 10px -10px #10EBFFFF;
    box-shadow-bottom: 0;
    box-shadow-left: 0;
    box-shadow-right: 0; }
  .lt .popup #calculator .output {
    background-color: #CEF1F3F4;
    box-shadow: #681998 -1px 1px 4px 0px, #10EBFFFF 0px 0px 10px 0px;
    color: #681998; }
  .lt .popup #calculator .buttons > div:first-child button {
    background-color: #cd57d4;
    color: #ADFFFCE0; }
    .lt .popup #calculator .buttons > div:first-child button:hover {
      background-color: #B23BFF;
      color: #10EBFFFF; }
  .lt .popup #calculator .buttons > div:not(:first-child) button {
    background-color: #ADFFFCE0;
    color: #B23BFF; }
    .lt .popup #calculator .buttons > div:not(:first-child) button:hover {
      background-color: #10EBFFFF;
      color: #681998; }
    .lt .popup #calculator .buttons > div:not(:first-child) button:last-child {
      background-color: #cd57d4;
      color: #ADFFFCE0; }
      .lt .popup #calculator .buttons > div:not(:first-child) button:last-child:hover {
        background-color: #B23BFF;
        color: #10EBFFFF; }

.lt .slider {
  box-shadow: 0 0 3px 3px #2E1456B5; }
  .lt .slider:before {
    background-color: #2E1456B5; }

.lt .switch-input:checked + .slider:before {
  background-color: #c120ff; }

.lt .switch-input:checked + .slider {
  box-shadow: 0 0 4px 3px #c120ff, 0 0 4px #b23bff; }

@font-face {
  font-family: "Digit";
  src: url("../assets/fonts/Digit.TTF") format("truetype"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Montserrat Alternates, sans-serif; }

main {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 550px) {
    main {
      background-position: center center; } }
